/*******************
WEB FONTS
********************/

@font-face {
    font-family: 'nobileitalic';
    src: url('nobile_italic-webfont-eot.eot');
    src: url('nobile_italic-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('nobile_italic-webfont-woff.woff') format('woff'),
         url('nobile_italic-webfont.ttf') format('truetype'),
         url('nobile_italic-webfont-svg.svg#nobileitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nobileregular';
    src: url('nobile-webfont-eot.eot');
    src: url('nobile-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('nobile-webfont-woff.woff') format('woff'),
         url('nobile-webfont.ttf') format('truetype'),
         url('nobile-webfont-svg.svg#nobileregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nobilebold_italic';
    src: url('nobile_bold_italic-webfont-eot.eot');
    src: url('nobile_bold_italic-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('nobile_bold_italic-webfont-woff.woff') format('woff'),
         url('nobile_bold_italic-webfont.ttf') format('truetype'),
         url('nobile_bold_italic-webfont-svg.svg#nobilebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nobilebold';
    src: url('nobile_bold-webfont-eot.eot');
    src: url('nobile_bold-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('nobile_bold-webfont-woff.woff') format('woff'),
         url('nobile_bold-webfont.ttf') format('truetype'),
         url('nobile_bold-webfont-svg.svg#nobileregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTitleRegular';
    src: url('KomikaTitle-webfont-eot.eot');
    src: url('KomikaTitle-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('KomikaTitle-webfont-woff.woff') format('woff'),
         url('KomikaTitle-webfont-ttf.ttf') format('truetype'),
         url('KomikaTitle-webfont-svg.svg#KomikaTitleRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTitleWideRegular';
    src: url('KomikaTitle-Wide-webfont-eot.eot');
    src: url('KomikaTitle-Wide-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('KomikaTitle-Wide-webfont-woff.woff') format('woff'),
         url('KomikaTitle-Wide-webfont-ttf.ttf') format('truetype'),
         url('KomikaTitle-Wide-webfont-svg.svg#KomikaTitleWideRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KomikaTitleAxisRegular';
    src: url('KomikaTitle-Axis-webfont-eot.eot');
    src: url('KomikaTitle-Axis-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('KomikaTitle-Axis-webfont-woff.woff') format('woff'),
         url('KomikaTitle-Axis-webfont-ttf.ttf') format('truetype'),
         url('KomikaTitle-Axis-webfont-svg.svg#KomikaTitleAxisRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


