---
title: Comics by Jason Perez
---

<div class='band post'>
   <div class="container header comic-title">
     <div class="sixteen columns offset-by-one">
       <h2 id="article-title">comic archive</h2>
     </div>
   </div>
</div>

<div id= class='band post'>
  <% sorted_articles[0, 15].each do |post| %>
    <div class="container archive">
      <div class="two columns">
        <a href="<%= post.path %>"><img class="comic-icon" src="<%= create_icon_link(post) %>" alt="<%= post[:comic] + " - " + post[:title] %>"></a>
      </div>
      <div class="fourteen columns clearfix archive-details">
        <div class="thirteen columns clearfix alpha">
          <h2 class="archive-title"><cite><%= link_to post[:title], post.path %></cite></h2>
        </div>
        <div class="thriteen columns clearfix omega">
          <div class="seven columns alpha">
            <h5 id="post-details"><%= post[:author] %>, posted on <%= get_pretty_date(post) %></h5>
          </div>
          <div class="six columns omega">
            <h4 id="comic-series"><%= post[:comic] %></h4>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>