<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="UTF-8">
	<title><%= create_title(item) %></title>
	<meta name="Description" content="<%= create_meta_description(item) %>">
	<meta name="robots" content="NOODP">
  <meta name="googlebot" content="NOODP">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/webfonts.css">
	<link rel="stylesheet" href="/css/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons and atom feed
	================================================== -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<!-- <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../images/apple-touch-icon-114x114.png"> -->
	<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Atom feed for all site content">

</head>
<body>
	<div class="band header">
		<div class="container clearfix">
			<div class="four columns">
				<img id="logo" title="Sad Bacon - comics by Jason Perez" src="/images/sadbacon-site-logo.png" alt="image of the Sad Bacon logo.">
			</div>
				<div class="six columns offset-by-one main-nav">
					<ul class="clearfix">
						<li><a id="home-nav" title="Sad Bacon home page." href="/">home</a></li>
						<li><a id="comic-nav" title="Sad Bacon comic archive." href="/comics/">comics</a></li>
					</ul>
				</div>
				<div class="six columns social-media-div">
					<a class="social-media" href="http://twitter.com/sadbacon_" title="Follow me on Twitter."><img src="/images/twitter-bird-dark-bgs.png"  alt="The Twitter bird."></a>
				</div>
		</div><!-- end container -->
	</div><!-- end band -->

	<%= yield %>

	<div class="band footer">
		<div class="container">
			<div class="ten columns offset-by-six">
				<h5 id="footer">&copy; 2013 Jason Perez</h5>
			</div>
		</div><!-- container -->
	</div><!-- end band -->

	<!-- asynchronous google analytics
	change the UA-XXXXX-X to be your site's ID -->
	<script>
	 var _gaq = [['_setAccount', 'UA-38353862-1'], ['_trackPageview']];
	 (function(d, t) {
	  var g = d.createElement(t),
	      s = d.getElementsByTagName(t)[0];
	  g.async = true;
	  g.src = '//www.google-analytics.com/ga.js';
	  s.parentNode.insertBefore(g, s);
	 })(document, 'script');
	</script>

</body>
</html>